##########################################
# Configuration file for Unpack step
#
# Conventions: 
# - Properties containing "bins" or "num" are usually integers
# - Min. and max. values of histograms are usually doubles
# - "dettype" expects a detectortype from the following (case insensitive): wedgeandstrip, delayline, hexanode, tofonly 
# - Properties containing "use" are usually boolean


### General properties for unpack step

unp_use_pulser = false		# Use an external pulser signal as time-of-flight reference? If negative, the MCP signals are expected to be already related to a fixed reference for the times-of-flight
unp_tdc_pulser = 8		# TDC channel of the pulser. Not necessary, if pulser is not used

unp_tdc_bin2ns = 1.		# Conversion factor to transform TDC bins into nanoseconds

use_conpar_online = false		# Read conpar_online.C macro at init

unp_parname_global = Par unpack global		# Internal name of the global unpack step parameter

unp_use_randomization = false		# Randomize input values? This should be done if input values are integers, i.e. from hardware TDCs and ADCs

unp_delay_randomizer_seed = 0
unp_ions_tof_randomizer_seed = 0
unp_electrons_tof_randomizer_seed = 0


### Intensity signal

unp_use_intensity = false		# Have an intensity signal on the ADC?
unp_adc_chan_intensity = 16		# ADC channel for the intensity signal


### ion properties

unp_ions_dettype = delayline		# Type of ion detector
unp_ions_shortname = i			# Short name to identify ions in folders and internal object names
unp_ions_longname = recoil ion		# Long name to identify ions in object titles
unp_ions_xlabel = xi		# Label for ion detector X-layer
unp_ions_ylabel = yi		# Label for ion detector Y-layer
unp_ions_use_reconstruct = false		# Use reconstruction for ions

unp_ions_tdc_mcp = 12		# TDC channel of the ion MCP signal
unp_ions_tdc_x1 = 1		# TDC channel of ion x1 delayline signal
unp_ions_tdc_x2 = 2		# TDC channel of ion x2 delayline signal
unp_ions_tdc_y1 = 3		# TDC channel of ion y1 delayline signal
unp_ions_tdc_y2 = 4		# TDC channel of ion y2 delayline signal

unp_ions_hist_xy_min = -65		# Minimum value for electron position coordinate histograms
unp_ions_hist_xy_max = 65		# Maximum value for electron position coordinate histograms
unp_ions_hist_xy_bins = 260		# No. of bins for electron position coordinate histograms

unp_ions_hist_phi_min = 0		# Minimum value for azimuthal angle histograms
unp_ions_hist_phi_max = 360		# Maximum value for azimuthal angle histograms
unp_ions_hist_phi_bins = 180		# No. of bins for azimuthal angle histograms

unp_ions_hist_tof_min = 0		# Minimum value for ion ToF histograms
unp_ions_hist_tof_max = 10000		# Maximum value for ion ToF histograms
unp_ions_hist_tof_bins = 10000		# No. of bins for ion ToF histograms

unp_ions_hist_tofdiff_min = 0		# Minimum value for ion ToF difference histograms
unp_ions_hist_tofdiff_max = 1000		# Maximum value for ion ToF difference histograms
unp_ions_hist_tofdiff_bins = 1000		# No. of bins for ion ToF difference histograms

unp_ions_hist_hits_min = -0.5		# Minimum value for No. of hits 
unp_ions_hist_hits_max = 99.5		# Minimum value for No. of hits 
unp_ions_hist_hits_bins = 100		# Minimum value for No. of hits 

unp_ions_graph_hits_num_points = 100	# No. of points to show in "rolling graphs" for hits
unp_ions_graph_hits_num_average = 100	# No. of points to average in "rolling graphs" for hits

unp_ions_hist_sortedyield_min = 0		# Minimum value for SortedYied
unp_ions_hist_sortedyield_max = 2.		# Minimum value for SortedYied
unp_ions_hist_sortedyield_bins = 100		# Minimum value for SortedYield

unp_ions_hist_sortcheck_min = -100		# Minimum value for SortCheck
unp_ions_hist_sortcheck_max = 900		# Minimum value for SortCheck
unp_ions_hist_sortcheck_bins = 1000		# Minimum value for SortCheck

unp_ions_hist_tsum_min = 0		# Minimum value for ion time sum histograms
unp_ions_hist_tsum_max = 300		# Maximum value for ion time sum histograms
unp_ions_hist_tsum_bins = 1200		# No. of bins for ion time sum histograms


### electron properties

unp_electrons_dettype = hexanode		# Type of electron detector
unp_electrons_shortname = e		# Short name to identify electrons in folders and internal object names
unp_electrons_longname = electron		# Long name to identify electrons in object titles
unp_electrons_ulabel = u		# Label for electron detector U-layer
unp_electrons_vlabel = v		# Label for electron detector V-layer
unp_electrons_wlabel = w		# Label for electron detector V-layer
unp_electrons_use_reconstruct = false		# Use reconstruction for electrons

unp_electrons_tdc_mcp = 11		# TDC channel of the electron MCP signal
unp_electrons_tdc_u1 = 5		# TDC channel of electron u1 delayline signal
unp_electrons_tdc_u2 = 6		# TDC channel of electron u2 delayline signal
unp_electrons_tdc_v1 = 7		# TDC channel of electron v1 delayline signal
unp_electrons_tdc_v2 = 8		# TDC channel of electron v2 delayline signal
unp_electrons_tdc_w1 = 9		# TDC channel of electron v1 delayline signal
unp_electrons_tdc_w2 = 10		# TDC channel of electron v2 delayline signal

unp_electrons_use_scalef = false                # Look for best scale factor values for the delayline wires? Should be turned off if not used, as it considerably slows down the analysis
unp_electrons_scalef_min = .8                   # Minimum value to look for optimal scale factors
unp_electrons_scalef_max = 1.1                  # Maximum value to look for optimal scale factors
unp_electrons_scalef_stepsize = .005    # Stepsize to look for optimal scale factors
unp_electrons_scalef_minerror = 1e-4    # Minimum error achieved with scale factors


unp_electrons_hist_tof_min = 0		# Minimum value for electron ToF histograms
unp_electrons_hist_tof_max = 500		# Maximum value for electron ToF histograms
unp_electrons_hist_tof_bins = 1000		# No. of bins for electron ToF histograms

unp_electrons_hist_xy_min = -45		# Minimum value for electron position coordinate histograms
unp_electrons_hist_xy_max = 45		# Maximum value for electron position coordinate histograms
unp_electrons_hist_xy_bins = 180		# No. of bins for electron position coordinate histograms

unp_electrons_hist_phi_min = 0		# Minimum value for azimuthal angle histograms
unp_electrons_hist_phi_max = 360		# Maximum value for azimuthal angle histograms
unp_electrons_hist_phi_bins = 180		# No. of bins for azimuthal angle histograms

unp_electrons_hist_tofdiff_min = 0		# Minimum value for electron ToF difference histograms
unp_electrons_hist_tofdiff_max = 1000		# Maximum value for electron ToF difference histograms
unp_electrons_hist_tofdiff_bins = 1000		# No. of bins for electron ToF difference histograms

unp_electrons_hist_hits_min = -0.5		# Minimum value for No. of hits 
unp_electrons_hist_hits_max = 99.5		# Minimum value for No. of hits 
unp_electrons_hist_hits_bins = 100		# Minimum value for No. of hits 

unp_electrons_hist_sortedyield_min = 0		# Minimum value for SortedYied
unp_electrons_hist_sortedyield_max = 2.		# Minimum value for SortedYied
unp_electrons_hist_sortedyield_bins = 100		# Minimum value for SortedYield

unp_electrons_hist_sortcheck_min = -100		# Minimum value for SortCheck
unp_electrons_hist_sortcheck_max = 900		# Minimum value for SortCheck
unp_electrons_hist_sortcheck_bins = 1000		# Minimum value for SortCheck

unp_electrons_hist_tsum_min = 0		# Minimum value for electron time sum histograms
unp_electrons_hist_tsum_max = 300		# Maximum value for electron time sum histograms
unp_electrons_hist_tsum_bins = 1200		# No. of bins for electron time sum histograms



### Delay stage properties

unp_use_delay = true		# Was a delay stage used in the measurement?

unp_delay_use_randomizer = false		# Randomize incoming delay values?
unp_delay_randomizing_range = 2.		# Range of the random numbers added to the delay value

unp_adc_chan_delay = 13			# ADC channel of the AC delay
unp_adc_chan_delay_pp = -1		# ADC channel of the delay of IR-pump-probe
unp_adc_chan_streakcam = -1		# ADC channel of the streak camera
unp_adc_chan_crosscorr = -1		# ADC channel of the cross correlator
unp_adc_chan_bam = -1			# ADC channel of the bam
unp_adc_chan_streakcamfast = -1		# ADC channel of the streak camera fast

unp_hist_delay_min = -3000		# Minimum value to plot in delay histograms
unp_hist_delay_max = 3000		# Maximum value to plot in delay histograms
unp_hist_delay_bins = 6000		# No. of bins in delay histograms

unp_hist_delay_pp_min = -220		# Minimum value to plot in IR pump-probe delay histograms
unp_hist_delay_pp_max = -200		# Maximum value to plot in IR pump-probe delay histograms
unp_hist_delay_pp_bins = 400		# No. of bins in IR pump-probe delay histograms

unp_hist_streakcam_min = 50		# Minimum value to plot in streak camera histograms
unp_hist_streakcam_max = 70		# Maximum value to plot in streak camera histograms
unp_hist_streakcam_bins = 200		# No. of bins in streak camera histograms

unp_hist_crosscorr_min = 1400		# Minimum value to plot in cross correlator histograms
unp_hist_crosscorr_max = 1700		# Maximum value to plot in cross correlator histograms
unp_hist_crosscorr_bins = 200		# No. of bins in cross correlator histograms

unp_hist_bam_min = -1			# Minimum value to plot in bam histograms
unp_hist_bam_max = 1			# Maximum value to plot in bam histograms
unp_hist_bam_bins = 100			# No. of bins in bam histograms

unp_hist_streakcamfast_min = 50		# Minimum value to plot in streak camera fast histograms
unp_hist_streakcamfast_max = 70		# Maximum value to plot in streak camera fast histograms
unp_hist_streakcamfast_bins = 200	# No. of bins in streak camera fast histograms

#Select Minibunch

unp_adc_chan_mbindex = 1			# ADC channel of minibunch index of single shot event


unp_hist_mbindex_min = -0.5			# Minimum value to plot in minibunch index of single shot event histograms
unp_hist_mbindex_max = 99.5			# Maximum value to plot in minibunch index of single shot event histograms
unp_hist_mbindex_bins = 100		# No. of bins in minibunch index of single shot event histograms





